body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.imgContainer{
    margin: 0.4rem;
    padding: 1rem;
    border: 1px solid #ddd;
    float: left;
    width: 180px;
    overflow: hidden;
}
.desc{
    padding: 1rem;
    text-align: center;
    font-family: sans-serif;
}

.imgContainer:hover{
    border-color: #787373;
    outline-style: inset;
}
.zoom-in{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}
.zoom-in:hover{
    transform: scale(1.2);
}